#board {
  width: 300px;
  height: 300px;
  position: relative;
  top: 30px;
  left: 10%;
  color: aqua;
}

.X {
  background-color: rgba(0,0,0,.3);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4px;
  font-size: x-large;
  color: purple;
}

.O {
  background-color: rgba(0,0,0,.3);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4px;
  font-size: x-large;
  color: orange;
}

.cell {
  background-color: rgba(0,0,0,.3);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4px;
  font-size: x-large;
}

h1 {
  text-align: center;
  word-spacing: 3.5em;
  text-indent: -22em;
  font-style: italic;
  color: white;
  -webkit-text-stroke: 1px black;
}

button {
  color: white;
  bottom: 0;
  position: relative;
  left: 18%;
  margin-top: 6%;
  font-size: 30px;
  outline: none;
  border: 2px solid white;
  background-color: transparent;
}

html { 
  background: url(http://upload.wikimedia.org/wikipedia/commons/2/26/Darrell_K_Royal-Texas_Memorial_Stadium_at_Night.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headline {
  text-align: center;
  text-indent: -44em;
}






